@model testdotnetcore.Models.Movie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>@Model.Name</h1>
</body>
</html>
